.appWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.app {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.app h3 {
  padding-top: 20px;
  color: grey;
  font-size: 18px;
  font-weight: bold;
}

.sticky {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.headline {
  color: grey;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-rendering: optimizeLegibility;
}

.footer {
  padding-bottom: 8px;
}

.footer p {
  margin-bottom: 0;
}
